.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 48px;
  text-shadow: 5px 5px 5px blue;
  box-shadow: 5px 5px 5px blue;
}

p {
  text-shadow: 5px 5px 5px blue;
  font-size: 24px;
}